entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41891975
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "commitar"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git  init"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m 'salvando e excluindo foto do db e do cloudnary'"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push -u origin main"

[[workflows.workflow]]
name = "git"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config user.name \"ViniRivaldar\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config user.email \"vinicius-rivaldar@outlook.com\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --list"

[[workflows.workflow]]
name = "criação de migration"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx sequelize-cli migration:generate --name create-posts"

[[workflows.workflow]]
name = "derrubar migration"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx sequelize-cli db:migrate:undo"

[[workflows.workflow]]
name = "subir migration"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx sequelize-cli db:migrate"

[[workflows.workflow]]
name = "instalar pacotes"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install cloudinary multer multer-storage-cloudinary"

[[workflows.workflow]]
name = "adicionar coluna"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx sequelize-cli migration:generate --name add-admin-to-users"

[[workflows.workflow]]
name = "corrigir tabela"
mode = "sequential"
author = 41891975

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx sequelize-cli migration:generate --name fix-users-table"

[[ports]]
localPort = 3000
externalPort = 3000
